---
import Layout from '../layouts/default.astro';
import heroImg from '../images/sandwich-hero.jpg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Layout>
		<section class="block hero">
			<div class="cta">
				<h1>All Sandwiches. All the time.</h1>
				<p class="lede">
					The world's leading sandwich connoisseurs trust sndwich
				</p>
				<a href="/shop" class="big-link">Shop Sandwich Kits</a>
			</div>
			<img
				src={heroImg}
				alt="A sandwich on a plate"
				class="hero-image"
				loading="eager"
				decoding="async"
			/>
		</section>
	</Layout>


</html>
